@page
@model Practcesite.Pages.ClassesModel
@{
    <body style="background-color:lavender;">
    

        <h1 align="center" font="bolder" hignt="22" width="22">
            Online Dance Classes
        </h1>
        <hr />
        <p>
            India's Top Dance Forms
            India, as a country is one of the most diverse nations in the world with some of the most beautiful dance forms coming from different states. Dance is a performing art involving consistent movements of the body. It expresses emotions, ideas, feelings and symbolic values. In India, there are two dance styles - classical dance and folk dance. India's eight classical dance styles are generally spiritual in content.
            <br />
            <br />
            <br />

            Kathak
            <br />

            Kathakali
            <br />
            Bharatnatyam
            <br />
            Manipuri
            <br />
            Odissi
            <br />
            Sattriya
            <br />
            Kuchipudi
            <br />
            Mohiniattam.
        </p>
        @*<div >
            <img hight="700" width="500" src="NewFolder/dancer.png"/>
        </div>*@
    </body>
}
