@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";





    <html>
        <body style="background-color:azure;"> 

            

            <div id="main_slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#main_slider" data-slide-to="0" class="active"></li>
                    <li data-target="#main_slider" data-slide-to="1"></li>
                </ol>.
                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <div class="ovarlay_slide_cont">




                            <h2>Dance<br>to<br>the<br>beat</h2>


                            <p align="right">
                                Online education/learning is becoming extremely popular among students. The inherent qualities of online learning include cost-effective, flexibility and high retention rate. Today, millions of students are opting online courses and classes across the world. India, as a country, is now booming with world-class dance online classes. India's top dance institutes provide Tap dance, Tango dance, Western dance, Belly dancing, Hip hop dance courses etc.
                            </p>

                        </div>
                    </div>
                    <div class="carousel-item">
                        
                        <div class="ovarlay_slide_cont">
                            <h2>Dance<br>to<br>the<br>beat</h2>

                            <p align="right">
                                Online education/learning is becoming extremely popular among students. The inherent qualities of online learning include cost-effective, flexibility and high retention rate. Today, millions of students are opting online courses and classes across the world. India, as a country, is now booming with world-class dance online classes. India's top dance institutes provide Tap dance, Tango dance, Western dance, Belly dancing, Hip hop dance courses etc.
                            </p>

                        </div>
                    </div>
                    
                </div>
                <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                  
                </a>
                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                  
                </a>
            </div>

        </body>
</html>


}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
