@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<hr />
<br />
<br />
<body style="background-color:lavender;">

    <p>
        Address:  Plot No: 98, Opposite SBI Bank, Lakshmi
        <br />
        Nagar, Nagpur, Maharashtra
        <br />


        Pin No:441108
        <br />
        <br />
        &nbsp;
        Sunday: Close
        <br />
        &nbsp;
        Monday-Friday      10am-9pm
        <br />
        &nbsp;
        Saturday:          10:30am-830pm




        <br />
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;Contact No: 7665053636 Or 9271615438
 </p>

</body>