@page
@model Practcesite.Pages.TranningModel
@{


    <body style="background-color:lavender;">



        <div id="trainings" class="layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text_align_center">
                        &nbsp; &nbsp; &nbsp;
                        <h2 class="heading_section"align="center" hignt="22" width="22">TRAININGS</h2>
                        <hr />

                    </div>
                </div>
            </div>
        </div>
        
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <p style="font:caption">
                            "Dancer" and "Dancing" redirect here. For other uses, see Dancer and Dancing.
                        </p>
                        <p>
                            Dance is a performing art form consisting of purposefully selected sequences of human movement. This movement has aesthetic and symbolic value, and is acknowledged as dance by performers and observers within a particular culture. Dance can be categorized and described by its choreography, by its repertoire of movements, or by its historical period or place of origin.
                        </p>
                    


           

</body>

        }




